__tests__
.husky
docs
src
._config.yml
.dropboxignore
.eslintignore
.eslintrc.js
.git
.gitignore
.pnpm-debug.log
jest-dynamodb-config.js
.jest.config.ts
.tsconfig.eslint.json
tsconfig.json
node_modules
